@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'arabic';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/notosansarabic/v18/nwpxtLGrOAZMl5nJ_wfgRg3DrWFZWsnVBJ_sS6tlqHHFlhQ5l3sQWIHPqzCfyGyfuXqA.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0898-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC, U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
.glass-effect {
  backdrop-filter: blur(10px); /* Adjust the blur amount to control the intensity of the effect */
  background: rgba(255, 255, 255, 0.15); /* Add an alpha channel to control the opacity */
  border-radius: 10px; /* Optionally add border-radius to give rounded corners */
}
.gradient-text {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(90deg, #ff0000, #00ff00, #0000ff); /* Replace these colors with your desired gradient */
  animation: gradientAnimation 4s linear infinite; /* Adjust the animation duration and timing function as needed */
}